<div class="container">
  <div class="card">
    <div class="colors">
      <div class="color" id="color1">
        <p class="color-hex">#F5EFE3</p>
      </div>
      <div class="color" id="color2">
        <p class="color-hex">#F5EFE3</p>

      </div>
      <div class="color" id="color3">
        <p class="color-hex">#F5EFE3</p>

      </div>
      <div class="color" id="color4">
        <p class="color-hex">#F5EFE3</p>

      </div>
      <div class="icon-container"> <i class="fas fa-redo-alt icon"></i>
      </div>
    </div>
  </div>
</div>
