<div class="display-msg animated" [ngClass]="{'fadeIn': showMessage == true,'fadeOut': showMessage == false  }">{{message}}</div>

<div class=" container">
  <div class="card">
    <div class="colors">
      <div class="color" id="color1" [ngStyle]="{'background-color':color1}">
        <p class="color-hex" [ngStyle]="{'color':color1Text}" (click)="copyTextToClipboard(color1Value)">#{{color1Value}}</p>
      </div>
      <div class="color" id="color2" [ngStyle]="{'background-color':color2}">
        <p class="color-hex" [ngStyle]="{'color':color2Text}" (click)="copyTextToClipboard(color2Value)">#{{color2Value}}</p>

      </div>
      <div class="color" id="color3" [ngStyle]="{'background-color':color3}">
        <p class="color-hex" [ngStyle]="{'color':color3Text}" (click)="copyTextToClipboard(color3Value)">#{{color3Value}}</p>

      </div>
      <div class="color" id="color4" [ngStyle]="{'background-color':color4}">
        <p class="color-hex" [ngStyle]="{'color':color4Text}" (click)="copyTextToClipboard(color4Value)">#{{color4Value}}</p>

      </div>
      <div class="icon-container">
        <i class="fas fa-redo-alt icon" (click)="generateColors()"></i>
      </div>
    </div>
  </div>
</div>
